h1{
    background-color: navy;
    color: white;
    text-align: center;
    padding: 40px;
}

hr{
    border: dashed 0.1px lightgray;
}

footer{
    background-color: lightgray;
    color: white;
    text-align: center;
    padding: 30px;
    clear: both;
}

nav{
    border: 1px solid black;
    border-radius: 20px;
    padding: 15px;
    margin: 5px;
    float: left;
}

section{
    border: 1px solid black;
    border-radius: 20px;
    padding: 15px;
    margin: 5px;
    margin-left: 350px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li{
    display: inline-block;
    width: 300px;
}

.li_hov:hover{
    color: white;
    text-shadow: 1px 1px 3px black;
}

.banner{
    background-color: lightgray;
    width: 300px;
    height: 200px;
}

.notice> p::after{
    content: 'N';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: navy;
    text-align: center;
    border-radius: 50%;
    color: white;
    font-weight: bold;
}